body {
  margin: 0;
  padding: 0;
  font-family: "Roboto", Arial, sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
}

.container {
  width: 1160px;
  margin: 0 auto;
}

a {
  text-decoration: none;
}

.btn {
  outline: none;
  background-color: #fb565a;
  border: none;
  text-transform: uppercase;
  color: #ffffff;
  padding: 15px 50px;
  cursor: pointer;
}

.btn:hover {
  outline: none;
  background-color: #e74246;
}

.btn:active {
  outline: none;
  opacity: 0.3;
}

.main-header {
  margin-bottom: 80px;
  background-color: #eeeeee;
}

.main-navigation {
  padding-top: 50px;
  padding-bottom: 30px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.site-navigation {
  margin: 0;
  list-style: none;
  display: flex;
}

.logo img:hover {
  opacity: 0.8;
}

.logo img:active {
  opacity: 0.3;
}

.site-navigation a, .cart a {
  padding-right: 45px;
  color: #000000;
  font-weight: 500;
  line-height: 30px;
  text-transform: uppercase;
  position: relative;
  font-size: 16px;
}
.cart a {
  padding: 0;
}

.site-navigation a:active, .cart a:active {
  color: #000000;
  opacity: 0.3;
}

.site-navigation a:active, .cart a:active {
  color: #000000;
  opacity: 0.3;
}

.site-navigation a:hover, .cart a:hover {
  color: #fb565a;
}

.site-navigation a:hover, .cart a:hover {
  color: #fb565a;
}

.cart a::before {
  position: absolute;
  content: '';
  width: 15px;
  height: 15px;
  background-image: url(../img/cart-icon.svg);
  opacity: 0.3;
  left: -30px;
  top: 2px;
}
.slider-1, .slider-2, .slider-3 {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.slider-arrows {
  max-width: 120px;
  margin: auto;
  display: flex;
  justify-content: space-between;
  margin-top: 10px;
  cursor: pointer;
}

.main-title {
  margin: 0;
  font-size: 55px;
  font-weight: 600;
  line-height: 55px;
  margin-bottom: 28px;
}

.main-subtitle {
  display: block;
  margin-bottom: 40px;
}

.offer {
  display: flex;
  justify-content: space-between;
  margin-bottom: 160px;
}

.offer-title {
  padding: 0;
  margin: 0;
  font-size: 24px;
  font-weight: 700;
  line-height: 30px;
  text-transform: uppercase;
  padding-top: 20px;
  padding-bottom: 20px;
}

.offer-sibtitle {
  display: block;
  width: 280px;
  margin-bottom: 30px;
}

.btn_green {
  background-color: #00ca74;
}

.btn_green:hover {
  background-color: #00bc6c;
}

.btn_yellow {
  background-color: #efc84a;
}

.btn_yellow:hover {
  background-color: #eab534;
}

.info {
  display: flex;
  align-items: flex-end;
  margin-bottom: 140px;
}
.info-text {
  padding-right: 146px;
}

.info-title {
  margin: 0;
  margin-bottom: 35px;
  font-size: 45px;
  font-weight: 600;
  line-height: 45px;
}

.info-subtitle {
  display: block;
  margin-bottom: 44px;
  color: #283136;
}

.order-title {
  font-weight: 700;
  text-transform: uppercase;
  padding: 0;
  margin: 0;
  margin-bottom: 25px;
}

.order-list_subtitle {
  display: block;
  line-height: 40px;
  padding-left: 35px;
}

.statistics-title {
  margin-top: 25px;
  margin-bottom: 50px;
  font-weight: 700;
  text-transform: uppercase;
  text-align: center;
}

.statistics-list {
  margin: 0;
  padding: 0;
  list-style: none;
  display: flex;
}

.statistic-text {
  margin: 0;
  margin-bottom: 25px;
  font-size: 45px;
  font-weight: 700;
}

.customers {
  display: flex;
  justify-content: space-between;
  margin-bottom: 132px;
}

.customers svg:hover g {
  opacity: 1;
  transition: 0.5s;
}

.map {
  position: relative;
}

.map-popup {
  background-color: #fff;
  position: absolute;
  top: 50px;
  left: 140px;
  padding: 50px;
}

.map-title {
  padding: 0;
  margin: 0;
  margin-bottom: 25px;
  font-size: 18px;
  font-weight: 700;
  line-height: 30px;
  text-transform: uppercase;
}

.map-subtitle {
  display: block;
  color: #666666;
  font-size: 16px;
  font-weight: 400;
  line-height: 18px;
  width: 202px;
  margin-bottom: 30px;
}

.map-subtitle:last-child {
  margin-bottom: 30px;
}

.social-list {
	display: flex;
	list-style: none;
	-ms-align-items: center;
  align-items: center;
  margin: 70px 0;
  padding-right: 140px;
}

.social-list a {
	display: block;
	width: 80px;
	height: 80px;
	background-color: #e1e1e1;
  border-radius: 50%;
}

.social-item {
  padding-right: 12px;
}

.social-vk {
	background-image: url(../img/vk-icon.svg);
	background-repeat: no-repeat;
  background-position: 50% 50%;
}

.social-fb {
	background-image: url(../img/fb-icon.svg);
	background-repeat: no-repeat;
  background-position: 50% 50%;
}

.social-inst {
	background-image: url(../img/insta-icon.svg);
	background-repeat: no-repeat;
  background-position: 50% 50%;
}

.social-list a:hover {
  background-color: #ee3643;
  transition: 0.5s;
}

.social-list a:active {
  background-color: #d7373b;
  box-shadow: inset 0 3px 0 rgba(0, 1, 1, 0.1);
}

.footer {
  display: flex;
  align-items: center;
}

.footer-title {
  padding: 0;
  margin: 0;
  font-size: 36px;
  font-weight: 700;
  line-height: 36px;
  margin-bottom: 10px;
}

.footer-subtitle {
  font-size: 16px;
  font-weight: 400;
  line-height: 22px;
}

.modal {
  position: fixed;
  top: 50%;
  left: 50%;
  display: none;
  width: 770px;
  padding: 70px 100px 84px;
  margin: 0 auto;
  transform: translate(-50%, -50%);
  box-shadow: 0 20px 40px rgba(0, 1, 1, 0.75);
  margin-bottom: 50px;
  background-color: #fff;
}

.modal_active {
  display: block;
}

.modal-close {
  position: absolute;
  top: 0;
  right: 0;
  width: 39px;
  height: 39px;
  padding: 0;
  background-color: transparent;
  border: none;
  cursor: pointer;
}

.modal-close::before,
.modal-close::after {
  content: "";
  position: absolute;
  top: 18px;
  left: 6px;
  width: 27px;
  height: 4px;
  background: #ff5357;
}

.modal-close::before {
  transform: rotate(45deg);
}

.modal-close::after {
  transform: rotate(-45deg);
}
.modal-title {
  margin: 0;
  margin-bottom: 45px;
  font-size: 45px;
  font-weight: 500;
  line-height: 45px;
  }

.modal-list {
  display: flex;
  flex-wrap: wrap;
  margin: 0;
  padding: 0;
  list-style: none;
}

.modal label {
  display: block;
  font-size: 16px;
  font-weight: 700;
  line-height: 18px;
  padding-bottom: 10px;
}

.modal input {
  margin-bottom: 35px;
  width: 360px;
  height: 50px;

}

.modal-item:first-child {
  margin-right: 40px;
}

.modal textarea {
  width: 760px;
  height: 118px;
  border: 2px solid #d7dcde;
  margin-bottom: 47px;
}